# Core
absl-py==1.4.0
numpy==1.26.0
protobuf==3.20.3

# TensorFlow Ecosystem
tensorflow-cpu==2.15.0
keras==2.15.0
tensorboard==2.15.1
tensorflow-io-gcs-filesystem==0.31.0

# Computer Vision
opencv-python-headless==4.7.0.72
Pillow==10.3.0

# Scientific Computing
scipy==1.13.0
scikit-learn==1.4.2
faiss-cpu==1.7.4

# Utilities
six==1.17.0
h5py==3.11.0
requests==2.32.0
tqdm==4.66.2
joblib==1.5.1
termcolor==3.1.0

# TensorFlow dependency fixes
ml-dtypes==0.2.0
wrapt==1.14.1

# Visualization
matplotlib==3.8.4
contourpy==1.2.1

# Supporting Packages
astunparse==1.6.3
certifi==2024.7.4
charset-normalizer==3.3.2
cycler==0.12.1
flatbuffers==25.2.10
fonttools==4.51.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.62.0
idna==3.7
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
packaging==24.1
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
threadpoolctl==3.4.0
typing_extensions==4.11.0
urllib3==2.2.2
Werkzeug==3.1.0

# Deployment
Flask==3.0.3
gunicorn==20.1.0   # Compatible with Python 3.10
gdown==4.7.1       # Compatible with Python 3.10
